.addreservpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 10px 10px 10px;
  background-color: rgba(62, 236, 62, 0.514);
  min-height: 100vh;
  width: 100vw;
  background-image: url('../img/mercedes.jpg');
  background-size: cover;
}

.addreservpage h1 {
   filter: drop-shadow(-3px 3px 1px rgb(0, 255, 98));
}
