html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.loginpage {
  padding: 10px;
  background-color: rgb(62, 236, 62);
  min-height: 100vh;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}
