.reservpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.reservtable {
  margin: 10px;
  padding: 0;
}

.listitem {
  padding: 5px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.listitem:nth-child(odd) {
  background-color: white;
}

.listitem:nth-child(even) {
  background-color: rgb(184, 182, 202);
}

.listitem:nth-child(1) {
  border-radius: 5px;
  border: 0;
  background-color: rgb(148, 146, 163);
  font-weight: bold;
}

.listitem:last-child {
  border-radius: 5px;
  border: 0;
}

.tablewrapper {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  width: 90%;
}

.spancentered {
  text-align: center;
  width: 30%;
}

.fixedwidth {
  width: 30%;
}

.smallfont {
  font-size: 0.875rem;
}

@media only screen and (min-width: 800px) { 
  .tablewrapper {
    width: 70%;
  }
}
